.loginBtn {
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.loginBtn:hover {
    background-color: #198E3F;
    border: #198E3F;
}

.loginInp {
    width: 400px;
    margin: auto;
}
.deviceDiv {
    display: flex;
}
.deviceDivCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    margin-top: 20px;
}

.deviceItem {
    margin-top: 20px;
    border-bottom: solid 1px black;
}
.deviceDetail {
    display: flex;
    justify-content: space-evenly;
}



.itemCard {
    
}